#formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 1rem auto;
}
input,
button {
  padding: 1rem;
  max-width: 400px;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.insertStatus {
  color: green;
  font-weight: bold;
  text-align: center;
}
.red {
  color: red !important;
}
